@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --font-color-nav-bar: #241F1F;
    --font-color-a-bar: #12127B;
}

.header__nav-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__nav-bar{
    display: flex;
    gap: 60px;
    color: var(--font-color-nav-bar);
    font-family: Montserrat;
    font-size: 15px;
}

.header__img-logo{
    display: flex;
    width: 100px;
    height: 100px;
}

a{
    text-decoration: none;
    color: var(--font-color-nav-bar);
}

a:hover{
    text-decoration: underline;
    color: var(--font-color-a-bar);
}

.banner-gif-1{
    margin: auto;
    display: block;
    border-radius: 20px;
    width: 1750px;
    height: 700px;
}

.container{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
    display: block;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}